#root {
  /*max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-custom {
  
}
.btn-custom {
  background-color: #b90b14; /* Netflix red background */
  border-color: #b90b14; /* Netflix red border */
  color: white; /* White text color */
}
.nav-link-custom:hover, .btn-custom:hover {
  background-color: #e50914; /* Netflix red on hover */
  color: white; /* White text color */
}

.nav-link-custom {
  margin-right: 1rem; /* Custom margin between links */
  color: white;
}


.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Still needed if overlaying other content */
  height: 100%; /* Ensure it has a defined height */
}
.centered-image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Centers the image exactly */
  object-fit: contain; /* Keeps aspect ratio intact */
  max-width: 50%; /* or any percentage or fixed value that suits your layout */
  max-height: 50%; /* Adjusts the maximum height to limit the image size */
  width: auto; /* Adjust width automatically */
  height: auto; 
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
